@using SG2.ViewModels

@model IndexViewModel
@{
      
}

<head>
    <link href="../../css/Index.css" rel="stylesheet" />
</head>


<h1> @Model.value </h1>

<a asp-controller="Home" asp-action="Short" >ЖМЯК</a>


<p>@Model.user.Name</p>
<p>@Model.user.Email</p>
<p>@Model.car.Name</p>